@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif; /* Directly declare the font */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-inter); /* Use the variable */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
